@CHARSET "UTF-8";

#rankings td {
	border: 1px solid #333333;
	padding: 2px 10px 2px;
	text-align: left;
}

#rankings tr>td:first-child {
	text-align: center
}

#rankings th {
	padding: 0px 10px 2px;
}

#rankings table {
	border-collapse: collapse;
	width: 200px;
	margin: auto;
	margin-top:20px;
	margin-bottom:40px;
}

.error {
	color: red;
}